.section {
    height: 100vh;
    text-align: center;

}

body {
    overflow: hidden;
}

.heading {
    color: white;
    font-style: italic;

}

.left-arrow {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    height: 50px;
    width: 50px;
    transform: rotate(135deg);
    position: fixed;
    z-index: 10;
    top: 47%;
    right: 90vw;
    margin-left: 10%;
    background-color: transparent;
    cursor: pointer;
    transition: border-bottom 0.1s ease-in, border-right 0.1s ease-in;
}

.right-arrow {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    position: fixed;
    z-index: 10;
    top: 47%;
    left: 90vw;
    background-color: transparent;
    cursor: pointer;
    transition: border-bottom 0.1s ease-in, border-right 0.1s ease-in;
}

.right-arrow:hover,
.left-arrow:hover {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    height: 53px;
    width: 53px;
}

/*
html {
  scroll-behavior: auto;
}
*/

.sections-dots {
    position: fixed;
    z-index: 10;
    width: 4%;
    top: 44%;
    left: 95%;
    margin-right: 5%;

}

.dot-holder {
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 4px;
    width: 4px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s linear;
    transition: width 0.1s ease-in, height 0.1s ease-in;

}

.active,
.dot:hover {
    background-color: whitesmoke;
    height: 12px;
    width: 12px;
    transition: width 0.1s ease-out, height 0.1s ease-out;
}

/*Slides*/
.slides-holder {
    display: block;
}

.slide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: display 0.5s ease-out;

}
